/* My default styles—a bit of a reset and a bit of a normalization, based on 
["A Modern CSS Reset" by Josh W. Comeau](https://www.joshwcomeau.com/css/custom-css-reset/).
Remember to use `*property*:revert` to return specific elements to browser defaults. 
Use `@import url("./cobbland-style.css");` to import into the default stylesheet.
(Note: Nothing is done to fix apple product specific problems; y'all are on your own.) */

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5; /* This requires customizing the line height for larger text. */
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%; /* Use `max-width: revert;` if an image is meant to overflow */
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
  /* padding-top: 1em; */
} /* Consider applying this to ALL elements. Also, consider adding `hyphen: auto;`. */ 

p {
  text-wrap: pretty; /* May have a performance impact. */
} /* Remember to use `p` instead of `div` in your HTML if you want this to work. 
Also, consider setting `max-width: 60ch` or smaller. (ch being the width of "0" 
in given `font-size`. (Maybe this belongs on a parent element, though.)*/

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/* Background from https://css-pattern.com/ */

html {
  --s: 82px; /* control the size*/
  --c1: #b2b2b2;
  --c2: #ffffff;
  --c3: #d9d9d9;
  
  --_g: var(--c3) 0 120deg,#0000 0;
  background:
    conic-gradient(from -60deg at 50% calc(100%/3),var(--_g)),
    conic-gradient(from 120deg at 50% calc(200%/3),var(--_g)),
    conic-gradient(from  60deg at calc(200%/3),var(--c3) 60deg,var(--c2) 0 120deg,#0000 0),
    conic-gradient(from 180deg at calc(100%/3),var(--c1) 60deg,var(--_g)),
    linear-gradient(90deg,var(--c1)   calc(100%/6),var(--c2) 0 50%,
                          var(--c1) 0 calc(500%/6),var(--c2) 0);
  background-size: calc(1.732*var(--s)) var(--s);
}

/* Battleship */

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.battleship {
  margin: 2rem;
  padding: 1rem;
  border: black solid 4px;
  border-top: black solid 24px;
  border-radius: 3px;
  background-color: white;
  width: max-content;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: max-content max-content 1fr 1fr;
  gap: 1rem;
  box-shadow: 10px 10px 0px gray;
}

.battleship h1 {
  line-height: 1;
  grid-column: 1 / -1;
  text-align: center;
}

.battleship h2 {
  text-align: center;
}

.active-player::after {
  content: " Your turn!";
  color: blueviolet;
}

.p1-board,
.p2-board {
  display: grid;
  grid-template-rows: repeat(10, 25px);
  grid-template-columns: repeat(10, 25px);
  border: black solid 2px;
  background-color: lightgray;
}

.cell {
  border: black solid 1px;
  background-color: lightgray;
  transition: background-color 0.5s ease;
}

.active .cell:hover {
  background-color: #b2b2b2;
  cursor: pointer;
}

.ship {
  background-color: gray;
}

.ship:hover {
  background-color: gray;
  cursor: default;
}

.hit {
  background-color: red;
}

.cell.hit:hover {
  background-color: red;
  cursor: default;
}

.miss {
  background-color: aquamarine;
}

.cell.miss:hover {
  background-color: aquamarine;
  cursor: default;
}

.cell.sunk {
  background-color: brown;
}

.cell.sunk:hover {
  background-color: brown;
  cursor: default;
}

#info {
  grid-column: 1 / -1;
  background-color: lightgray;
  color: #000000cc;
  border: black solid 2px;
  padding: 0.2em 0.5em;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#start {
  grid-column: 1 / -2;
  cursor: pointer;
  width: max-content;
  justify-self: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#reset {
  grid-column: -1 / -2;
  cursor: pointer;
  width: max-content;
  justify-self: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}